.container {
    position: absolute;
    z-index: 100000;
    height: 100%;
    margin: 0;
    padding: 0;
    right: 0;
    border-left: 2px solid lightgray;
    transition: width .5s ease;
}

.container button {
    float: right;
}

.menu {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
}

.header {
    height: 4em;
    border-bottom: 2px solid lightgray;
    margin-top: 1em;
    margin-bottom: 1em;
}

.title {
    float: left;
    height: 50px;
    margin: .1625em .3em;
}

.content {
    margin: 0 .8125em;
}