.container-left {
    position: absolute;
    z-index: 100000;
    height: 5%;
    width: 25%;
    margin: 0;
    padding: 0;
    border-right: 2px solid lightgray;
}

.container-right {
    position: absolute;
    z-index: 100000;
    height: 5%;
    width: 25%;
    margin: 0;
    padding: 0;
    right: 0;
    border-left: 2px solid lightgray;
}

.container-right button {
    float: right;
}

.menu {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    transition: ease-in;
}

.header {
    height: 5em;
}

.title {
    float: left;
    height: 50px;
    margin: .1625em .3em;
}

.content {
    margin: 0 .8125em;
}