@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

.profile {
    width: 46px;
    height: 46px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    border-style: none;
}

.close {
    background-color: white;
    border-style: none;
    width: 50px;
    height: 50px;
}

.profile:hover {
    background-color: #f8f9fa;
}

.profile:focus, .close:focus {
    outline: none;
}